<div class="ehr-parsable ehr-line">
	<ehr-label ng-if="!suppressLabel" class="ehr-label-content" ng-class="::EhrLayoutHelper.computeEhrLabelContentClass(model)">
			{{::model.labelFor(EhrContext.language)}}:
		</ehr-label>
	<input class="field form-control col-sm-3"
        
        ng-readonly="model.getViewConfig().isReadOnly()"
        ng-hide="model.getViewConfig().isHidden()"
        ng-model="parsableValue" ng-model-options="{ getterSetter: true }"
        ng-class="::EhrLayoutHelper.computeFieldClass(model)"
        />
		
	<input class="field form-control col-sm-3"
        
        ng-readonly="model.getViewConfig().isReadOnly()"
        ng-hide="true"
        ng-model="formalismValue" ng-model-options="{ getterSetter: true }"
        ng-class="::EhrLayoutHelper.computeFieldClass(model)"
        />
		
    </div>
</div>
<!-- sends only text/html as formalism right now -->

<!-- model.getViewConfig().isHidden()-->
