@section scripts{

    <script type="text/javascript">
        var ehrID = '@Session["EHRID"]';
    </script>

    <script src="~/Scripts/angular.js"></script>
  
    <script src="~/Scripts/ClientValidation/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>           
    <script src="~/Scripts/JqueryUI/jquery-ui.min.js"></script>
    

    <link href="~/Content/Custom/custom.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="~/Content/JqueryUI/jquery-ui.min.css">   

    <script src="~/Scripts/Views/Utredning/utredning.js"></script>

<style>
    .hoverDiv {
    }

        .hoverDiv:hover {
            background: #b0d8f0;
            color: #000000;
        }

        .hoverDiv:active {
            background: #6794dd;
            color: #ffffff;
        }

    /*#columnNames {
        margin-top: 50px;
    }*/

    #left-top-row-content {
        float: left;
        display: inline;
        width: 49%;
    }

    #right-top-row-content {
        float: left;
        display: inline;
        width: 49%;
    }

    #boxelement {
        float: left;
        display: inline;
        width: 25%;
        text-align: center;
    }

    .table {
        margin-bottom: 0px;
    }

    th {
        text-align: center;
        background-color: #0066b3;
        color: #ffffff;
        text-space-collapse:collapse;
    }

    td {
        text-align: center;
    }

    .box {
        margin-bottom: auto;
    }

    .box-body {
        color: #000000;
        background-color: #ffffff;
    }

    h2 {
        margin-top: 50px;
    }
</style>


}

<!-- Modal -->
<div class="">
    <div id="top-row">
        <div id="left-top-row-content"><h4>Alla Utredningar</h4></div>
        <div id="right-top-row-content">
            <a href="@Url.Action("Index", "Triage/nyutredning")">
                <button class="btn btn-success pull-right">

                    Ny utredning

                </button>
            </a>
        </div>
    </div>
    

    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="">
            <table class="table ">
                <tr>
                    <th><div>Patient</div></th>
                    <th><div>Behandlings-ID</div></th>
                    <th><div>Status</div></th>
                    <th><div>Mottagen</div></th>
                </tr>
            </table>
            <div ng-repeat="obj in posts">
                <a href="@Url.Action("Index", "Triage/redigerautredning", new { patient = "28ac8bbc-eb14-4f01-a30d-bcff446e0bd4", behandlingsid = "I3232asdas-32948273sad213sad123" })">
                    <div class="box " >
                        <div class="box-body hoverDiv">
                            <div id="boxelement">
                                {{ obj.Diastolic.magnitude }} {{ obj.Diastolic.units }}
                            </div>
                            <div id="boxelement">
                                {{ obj.Systolic.magnitude }} {{ obj.Systolic.units }}
                            </div>
                            <div id="boxelement">
                                {{ obj.Diastolic.magnitude }} {{ obj.Diastolic.units }}
                            </div>
                            <div id="boxelement">
                                {{ obj.Systolic.magnitude }} {{ obj.Systolic.units }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>




