@section scripts{

    <script type="text/javascript">
        var ehrID = '@Session["EHRID"]';
    </script>

    <script src="~/Scripts/angular.js"></script>
  
    <script src="~/Scripts/ClientValidation/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>           
    <script src="~/Scripts/JqueryUI/jquery-ui.min.js"></script>
    

    <link href="~/Content/Custom/custom.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="~/Content/JqueryUI/jquery-ui.min.css">   

    <script src="~/Scripts/Views/Utredning/utredning.js"></script>
    <script src="~/Scripts/EHR/FormPicker.js"></script>
    <script src="~/Scripts/Views/myAngular.js"></script>

<style>
    .hoverDiv {
    }

        .hoverDiv:hover {
            background: #b0d8f0;
            color: #000000;
        }

    /*.hoverDiv:active {
            background: #6794dd;
            color: #ffffff;
        }*/

    /*#columnNames {
        margin-top: 50px;
    }*/

    #left-top-row-content {
        float: left;
        display: inline;
        width: 49%;
    }

    #right-top-row-content {
        float: left;
        display: inline;
        width: 49%;
    }

    #boxelement {
        float: left;
        display: inline;
        width: 33%;
        text-align: left;
    }

    .table {
        margin-bottom: 0px;
    }

    th {
        text-align: left;
        background-color: #0066b3;
        color: #ffffff;
    }

    td {
        text-align: left;
    }

    .btn-circle {
        background-color: #0066b3;
    }

    .box {
        margin-bottom: auto;
    }

    .box-body {
        color: #000000;
        background-color: #ffffff;
    }

    #boxHeader {
        min-height: 0px;
        text-align: left;
        background-color: #0066b3;
        color: #ffffff;
        font-weight: bold;
    }
    .instructionBox {
        margin-top:5px;
        margin-bottom:5px;
    }

    h2 {
        margin-top: 50px;
    }
    h4 {
        margin-right:60%;
    }
</style>

}

<!-- Modal -->
<div @*ng-app="myApp" ng-controller="StartSidaUtredningCtrl"*@>
    <div id=" top-row">
        <div id="left-top-row-content"><h4>
            Alla Utredningsunderlag</h4>
        </div>
        <div id="right-top-row-content">
            <a href="@Url.Action("Index", "Triage/nyutredning")">
                <button class="btn btn-success pull-right">
                    Nytt Underlag
                </button>
            </a>
        </div>
    </div>

    <div>
        <div id="prostatacancer">
            <div>
                <h4>Diagnos</h4>
            </div>
            <div class="box ">
                <div class="box-body" id="boxHeader">
                    <div id="boxelement">
                        Patient
                    </div>
                    <div id="boxelement">
                        Diagnos
                    </div>
                    <div id="boxelement">
                        Steg
                    </div>

                </div>
            </div>

            <div class="instructionBox">
                <div class="box">
                    <div class="box-body hoverDiv" id="1">
                        <div id="boxelement">
                            Vladimir Dalton</br>
                            
                        </div>
                        <div id="boxelement">
                            Prostatacancer<br />
                            (<b>ICD-10: C61</b>)
                        </div>
                        <div id="boxelement">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                    95%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="instructionBox">
                <div class="box">
                    <div class="box-body hoverDiv" id="1">
                        <div id="boxelement">
                            Hey Sansson <br>19561221-4115<br>
                            
                        </div>
                        <div id="boxelement">
                            Prostatacancer<br />
                            (<b>ICD-10: C61</b>)
                        </div>
                        <div id="boxelement">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                    95%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="instructionBox">
                <div class="box">
                    <div class="box-body hoverDiv" id="1">
                        <div id="boxelement">
                            Henry Stockholm</br>
                            
                        </div>
                        <div id="boxelement">
                            Prostatacancer<br />
                            (<b>ICD-10: C61</b>)
                        </div>
                        <div id="boxelement">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                    50%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="instructionBox">
                <div class="box">
                    <div class="box-body hoverDiv" id="1">
                        <div id="boxelement">
                            Hilel Sawyer</br>
                            
                        </div>
                        <div id="boxelement">
                            Prostatacancer <br>
                            (<b>ICD-10: C61</b>)
                        </div>
                        <div id="boxelement">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                    30%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="instructionBox">
                <div class="box">
                    <div class="box-body hoverDiv" id="1">
                        <div id="boxelement">
                            Paul Osborn</br>
                            
                        </div>
                        <div id="boxelement">
                            Prostatacancer<br>
                            (<b>ICD-10: C61</b>)
                        </div>
                        <div id="boxelement">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                    0%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                 @*<div class="instructionBox" ng-repeat="instruction in instructions">
                <a ng-href="@Url.Action("Index", "Triage/RedigeraUtredning")?patientehr={{instruction.patientinfo.EHRID}}&underlagID=")>
                    <div class="box" >

                        <div class="box-body hoverDiv" ng-click="" id="{{ instruction.EHRID }}">
                            <div id="boxelement">
                                {{instruction.patientinfo.firstname || "-"}} {{instruction.patientinfo.lastname || "-"}} <br />
                                {{instruction.patientinfo.personnummer || "Inget personnummer"}}
                            </div>
                            <div id="boxelement">
                                {{ instruction.name.value ||  "-"}}
                            </div>

                            <div id="boxelement" ng-repeat="activity in instruction.activities">
                                {{ activity.name.value ||  "-"}}
                                <span>
                                    @*<a ng-href="@Url.Action("Index", "Forms/editAction")?patientehr={{instruction.patientinfo.EHRID}}&instructionuid={{instruction.uid.value}}">
                                        <button class="btn btn-circle" id="{{action.uid}}"></button>
                                    </a>*@
                 @*</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>*@
        </div>
    </div>




