

<meta charset="UTF-8">
<script src="~/Scripts/angular.js"></script>

<script src="~/Scripts/ClientValidation/jquery.validate.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/JqueryUI/jquery-ui.min.js"></script>
<script src="~/Scripts/ehrscapelogin.js"></script>
<script src="~/Scripts/Views/AQL_Service.js"></script>
<script src="~/Scripts/Views/Utredning/ViewForm.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/bluebird/latest/bluebird.min.js"></script>
<link rel="stylesheet" media="screen" href="~/Content/JqueryUI/jquery-ui.min.css">

<link rel="stylesheet" href="~/EHRDemo/TestForms/css/bootstrap.min.css">
<link rel="stylesheet" href="~/EHRDemo/TestForms/bootflat/css/bootflat.css">
<link rel="stylesheet" href="~/EHRDemo/TestForms/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/EHRDemo/TestForms/thinkehr/f4/css/ehr-form.css">
<link rel="stylesheet" type="text/css" href="~/EHRDemo/TestForms/thinkehr/f4/css/ehr-form-layout.css">
<link rel="stylesheet" type="text/css" href="~/EHRDemo/TestForms/thinkehr/f4/css/ehr-form-default.css">
<link rel="stylesheet" href="~/EHRDemo/TestForms/css/style.css">
<link rel="stylesheet" href="~/EHRDemo/TestForms/css/animate.css">

@*<script src="js/jquery-2.1.1.min.js"></script>*@

<script src="~/EHRDemo/TestForms/js/bootstrap.min.js"></script>
<script src="~/EHRDemo/TestForms/bootflat/js/jquery.fs.selecter.js"></script>
<script src="~/EHRDemo/TestForms/bootflat/js/icheck.min.js"></script>
<script src="~/EHRDemo/TestForms/angular/1.3.2/angular-resource.js"></script>
<script src="~/EHRDemo/TestForms/js/tmhDynamicLocale.js"></script>
<script src="~/EHRDemo/TestForms/angular/1.3.2/i18n/angular-locale_en-us.js"></script>
<script src="~/EHRDemo/TestForms/js/ui-bootstrap-custom-tpls-0.10.0.js"></script>
<script src="~/EHRDemo/TestForms/js/datetimepicker-tpls-0.11.js"></script>
<script src="~/EHRDemo/TestForms/js/bootstrap-growl.min.js"></script>


<script src="~/EHRDemo/TestForms/thinkehr/f4/thinkehr-f4-model.js"></script>
<script src="~/EHRDemo/TestForms/thinkehr/f4/thinkehr-f4-view-angular.js"></script>

<script src="~/EHRDemo/TestForms/app/demographics.js"></script>
<script src="~/EHRDemo/TestForms/app/app.js"></script>


<div ng-app="viewForm">
    <div class="container">
        <div class="contentFormRenderer" data-ng-controller="AppCtrl as appCtrl">

            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <div id="form-attach">
                            <ehr-form model="appCtrl.formModel" ehr-context="appCtrl.EhrContext"
                                      form-id="{{appCtrl.AppConfig.formName}}_{{appCtrl.AppConfig.formVersion}}"></ehr-form>
                        </div>

                        <div id="save-controls" data-ng-show="appCtrl.currentForm">
                            <button id="save-btn" class="btn btn-primary" data-ng-click="appCtrl.saveValues()">Skicka</button>
                        </div>

                        <!-- <div id="ehrValues" data-ng-show="appCtrl.showValueModel && appCtrl.currentForm"> -->
                        <!-- <hr> -->
                        <!-- <div> -->
                        <!-- <div class="demographics-label">Model value</div> -->
                        <!-- <pre>{{appCtrl.valueModel | json}}</pre> -->
                        <!-- </div> -->
                        <!-- </div> -->

                        <div id="no-form-text" data-ng-if="!appCtrl.currentForm">
                            <span>No form to display selected, please choose one from the combo box above.</span>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>