@section scripts{
    <script>
    $(document).ready(function () {
        //$("#myModal").modal('show');
    });

    function resizeIframe(obj) {
        obj.style.height = 0;
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
    </script>

}

<div class="row">
    <div class="col-md-12">
        <iframe src="http://localhost:82/" height="800px" width="100%" frameborder="0"></iframe>
    </div>
</div>


