
@{
    ViewBag.Title = "Nytt underlag";
    ViewBag.PageHeader = "Nytt underlag";
    ViewBag.SubPageHeader = "Urologkliniken";
}
<meta charset="UTF-8">
<script type="text/javascript" src="https://cdn.jsdelivr.net/bluebird/latest/bluebird.min.js"></script>
@*<script src="~/Scripts/EHR/FormPicker.js"></script>*@
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/ehrscapelogin.js"></script>
<script src="~/Scripts/Views/myAngular.js"></script>


<script>

    //$(document).ready(function () {
    //    validateForm(document);
    //});

    //function validateForm(element) {
    //    if (element.body) {
    //        for (var i = 0; i < element.getElementById('utredning-form').children.length; i++) {
    //            if (element.getElementById('utredning-form').children[i].hasAttribute("class")) {
    //                if ($(element).children('input').val() == '' || $(element).children('input').val() == undefined) {
    //                    $(element).children('span').replaceWith('<span id="validate-span"> <i class="fa fa-times"></i> <i>Måste fyllas i</i></span>')
    //                }
    //                else {
    //                    $(element).children('span').replaceWith('<span id="validate-span"><i class=\"fa fa-check\"></i> <i>OK</i>  </span>')
    //                }
    //            }
    //        }
    //    }

    //    else {
    //        if ($(element).children('input').val() == '' || $(element).children('input').val() == undefined) {
    //            $(element).children('span').replaceWith('<span id="validate-span"> <i class="fa fa-times"></i> <i>Måste fyllas i</i></span>')
    //        }
    //        else {
    //            $(element).children('span').replaceWith('<span id="validate-span"><i class=\"fa fa-check\"></i> <i>OK</i> </span>')
    //        }
    //    }
    //};


</script>


<style>
    #form-container {
        margin-top: 50px;
        background-color: #D9D9D9;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #form-top-row {
        margin-bottom: 30px;
        color: #808080;
    }

    label {
        display: inline-block;
        clear: left;
        width: 100px;
        text-align: right;
        padding-right: 150px;
    }

    input {
        display: inline-block;
    }

    #confirm-div {
        padding-top: 7%;
    }

    #create-utredning-div {
        padding-top: 7%;
        clear: both;
    }

    .fa-times {
        color: red;
    }

    span i {
        margin-bottom: 3%;
    }
    #show-patients {
        margin-bottom: 7%;
        margin-top: 7%;
    }

</style>

<div id="form-container">
    <div id="form-top-row">
        <label for="behandling-id">Behandling: </label>  <span id="behandling-id">Ingen vald</span> </></>
    </div>

    <div class="form-group" id="utredning-form">
        <div class="form-inline" id="personnumber-div">
            <label for="personnumber">Personnummer*: </label> <input type="text" class="form-control " id="personnumber" placeholder="YYYYMMDD-NNNN" />
            @* <span id="validate-span"><i class="fa fa-times"></i> <i>Måste fyllas i</i></span>*@
        </div>
        <br />
        <div class="" id="getpatient-div">
            <button type="button" class="btn btn-success" id="getpatient-button">Sök Patienter</button>
        </div>




        @*<div class="form-inline" id="huvuddiagnos-div" onkeyup="validateForm(this)">
                <label for="huvuddiagnos">Huvuddiagnos: </label> <input type="text" class="form-control" id="huvuddiagnos" placeholder="ICD-10 kod" />
                <span id="validate-span"><i class="fa fa-times"></i> <i>Måste fyllas i</i></span>
            </div>
            <div></div>
            <br />
            <div id="confirm-div">
                <p id="diagnos-confirmation"></p><button type="button" class="btn btn-default" id="confirm-button">Bekräfta diagnos</button>
            </div>*@

        @*<div class="" id="create-utredning-div">
                <button type="button" class="btn btn-success" id="create-utredning-button">Skapa utredning</button>
            </div>*@
    </div>

</div>  