@section scripts{
    

<script type="text/javascript">
    var ehrID = '@Session["EHRID"]';
</script>

<script src="~/Scripts/angular.js"></script>

<script src="~/Scripts/ClientValidation/jquery.validate.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/JqueryUI/jquery-ui.min.js"></script>


<link href="~/Content/Custom/custom.css" rel="stylesheet" />
<link rel="stylesheet" media="screen" href="~/Content/JqueryUI/jquery-ui.min.css">   
@*<script src="~/Scripts/Views/Beslut/beslut.js"></script>*@
<script src="~/Scripts/Views/myAngular.js"></script>



<style>
    .hoverDiv {
    }

        .hoverDiv:hover {
            background: #b0d8f0;
            color: #000000;
        }

        .hoverDiv:active {
            background: #6794dd;
            color: #ffffff;
        }

    /*#columnNames {
        margin-top: 50px;
    }*/

    #left-top-row-content {
        float: left;
        display: inline;
        width: 49%;
    }

    #right-top-row-content {
        float: left;
        display: inline;
        width: 49%;
    }
    #boxelement {
        float: left;
        display: inline;
        width: 20%;
        text-align: left;
    }

    .table {
        margin-bottom: 0px;
    }

    th {
        text-align: left;
        background-color: #0066b3;
        color: #ffffff;
    }

    td {
        text-align: left;
    }

    .box {
        margin-bottom: auto;
    }

    .box-body {
        color: #000000;
        background-color: #ffffff;
    }
    #boxHeader {
        
        text-align: left;
        background-color: #0066b3;
        color: #ffffff;
        font-weight: bold;
    }

    h2 {
        margin-top: 50px;
    }
</style>



}

<div class="">
    
    <div ng-app="myApp" ng-controller="StartSidaBeslutCtrl">

        <div id="prostatacancer">
            <div>
                <h4>Diagnos</h4>
            </div>
            <div class="box">
                <div class="box-body" id="boxHeader">
                    <div id="boxelement">
                        Patient
                    </div>
                    <div id="boxelement">
                        Comment
                    </div>
                    <div id="boxelement">
                        Diagnos
                    </div>
                    <div id="boxelement">
                        Patient Information
                    </div>
                    <div id="boxelement">
                        Status
                    </div>
                </div>
            </div>

                @*<table class="table">
                <tr>
                    <th><div>Patient</div></th>
                    <th><div>Comment</div></th>
                    <th><div>Diagnos</div></th>
                    <th><div>Patient Information</div></th>
                    <th><div>Status</div></th>
                </tr>
            </table>*@

                <div class="" ng-repeat="instruction in instructions">
                    <div class="box">
                        <div class="box-body hoverDiv" ng-click="" id="{{ instruction.EHRID }}">
                            <div id="boxelement">
                                {{ instruction.EHRID  ||  "-"}}
                            </div>
                            <div id="boxelement">
                                {{ instruction["#1"].content["0"].activities["0"].description.items[1].value.value ||  "-"}}
                            </div>
                            <div id="boxelement" >
                                Diagnos
                            </div>
                            <div id="boxelement" >
                                {{ instruction["#1"].content["0"].activities["0"].description.items[3].value.value ||  "-"}}
                            </div>
                            <div id="boxelement" >
                                {{ instruction.EHRID  ||  "-"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

        <div id="prostatacancer">
            <div class="">
                <div>
                    <h4>Annan diagnos</h4>
                </div>
                <div class="box">
                    <div class="box-body" id="boxHeader">
                        <div id="boxelement">
                            Patient
                        </div>
                        <div id="boxelement">
                            Comment
                        </div>
                        <div id="boxelement">
                            Diagnos
                        </div>
                        <div id="boxelement">
                            Patient Information
                        </div>
                        <div id="boxelement">
                            Status
                        </div>
                    </div>
                </div>
            </div>

            <div class="" ng-repeat="instruction in instructions">
                <div class="box">
                    <div class="box-body hoverDiv" ng-click="" id="{{ instruction.EHRID }}">
                        <div id="boxelement">
                            {{ instruction.EHRID}}
                        </div>
                        <div id="boxelement">
                            @*{{instruction["#1"].content["0"].activities["0"].description.items[4].value.value === null ? instruction["#1"].content["0"].activities["0"].description.items[4].value.value : "No Comment"}}*@
                            {{ instruction["#1"].content["0"].activities["0"].description.items[4].value.value}}
                        </div>
                        <div id="boxelement">
                            Diagnos
                        </div>
                        <div id="boxelement">
                            {{ instruction["#1"].content["0"].activities["0"].description.items[3].value.value}}
                        </div>
                        <div id="boxelement">
                            {{ instruction.EHRID}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>