@section scripts{
    
@* Beslutsflik *@
<meta charset="UTF-8">
<script type="text/javascript">
    var ehrID = '@Session["EHRID"]';
</script>

<script src="~/Scripts/angular.js"></script>

<script src="~/Scripts/ClientValidation/jquery.validate.min.js"></script>

<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/JqueryUI/jquery-ui.min.js"></script>

<link href="~/Content/Custom/custom.css" rel="stylesheet" />
<link rel="stylesheet" media="screen" href="~/Content/JqueryUI/jquery-ui.min.css">   
@*<script src="~/Scripts/Views/Beslut/beslut.js"></script>*@
<script src="~/Scripts/Views/myAngular.js"></script>


<style>
    .hoverDiv {
    }
        .hoverDiv:hover {
            background: #b0d8f0;
            color: #000000;
        }

        /*.hoverDiv:active {
            background: #6794dd;
            color: #ffffff;
        }*/

    /*#columnNames {
        margin-top: 50px;
    }*/

    #left-top-row-content {
        float: left;
        display: inline;
        width: 49%;
    }

    #right-top-row-content {
        float: left;
        display: inline;
        width: 49%;
    }
    #boxelement {
        float: left;
        display: inline;
        width: 33%;
        text-align: left;
    }

    .table {
        margin-bottom: 0px;
    }

    th {
        text-align: left;
        background-color: #0066b3;
        color: #ffffff;
    }

    td {
        text-align: left;
    }
    .btn-circle {
        background-color: #0066b3;
    }
    .box {
        margin-bottom: auto;
    }

    .box-body {
        color: #000000;
        background-color: #ffffff;
    }
    #boxHeader {
        min-height: 0px;
        text-align: left;
        background-color: #0066b3;
        color: #ffffff;
        font-weight: bold;
    }

    h2 {
        margin-top: 50px;
    }
</style>



}

<div class="">
    
    <div ng-app="myApp" ng-controller="StartSidaBeslutCtrl">

        <div id="prostatacancer">
            <div>
                <h4>Diagnos</h4>
            </div>
            <div class="box ">
                <div class="box-body" id="boxHeader">
                    <div id="boxelement">
                        Patient
                    </div>
                    <div id="boxelement">
                        Instruction
                    </div>
                    <div id="boxelement">
                        Activities
                    </div>

                </div>
            </div>

            <div class="" ng-repeat="instruction in instructions">
                <div class="box">
                    <div class="box-body hoverDiv" ng-click="" id="{{ instruction.EHRID }}">
                        <div id="boxelement" >
                            {{instruction.patientinfo.firstname || "-"}} {{instruction.patientinfo.lastname || "-"}} <br />
                            {{instruction.patientinfo.personnummer || "Inget personnummer"}}
                        </div>
                        <div id="boxelement">
                            {{ instruction.name.value ||  "-"}}
                        </div>
                                
                        <div id="boxelement" ng-repeat="activity in instruction.content[0].activities">
                            {{ activity.name.value ||  "-"}}
                            <span>
                                <a ng-href="@Url.Action("Index", "Forms/editAction")?patientehr={{instruction.patientinfo.EHRID}}&instructionuid={{instruction.uid.value}}">
                                    <button class="btn btn-circle" id="{{action.uid}}"></button>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>