.ro_disabled{
   
   cursor: not-allowed;
         
}

.ro_team {
    background-color:rgba(151,187,205,0.5);    
}

.ro_pat {
}

.row
{
    padding-left:15px;
    margin-top:2px;

}

.modal-header {
    background: rgb(60, 141, 188);
    height:50px;
    color:white;
}
.date_for_meet::before {
    content: "Dokumenterat den: ";
}
.date_for_meet {
    margin-left:10px;
    margin-right:10px;
    float:right;
    color: #849cae;
}
.date_for_meet a {
    color: #0066b3;
}

.RO_TriageTime
{
    text-align: center; 
    width: 65px !important; 
    background-color: #000; 
    color: #fff; 
    font-weight: bold; 
}

.RO_TriageTimeTh1
{
    width:10px
}

RO_TriageTimeTh2
{
    width:90px
}

RO_TriageTimeTh3
{
    width:90px
}


.RO_TriageTimeTd2
{
    width:100px
}


.foo {
  position: relative;
  float: left;
  top:10px;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}
.panel label {
    margin-bottom:1%;
    margin-top: 1%;
    margin-left: 1%;
    font-size:15px;
}
