.ro_disabled{
   
   cursor: not-allowed;
         
}

.ro_team {
    background-color:rgba(151,187,205,0.5);    
}

.ro_pat {

}

#new-remisser-div {
    background-color: white;
    margin-bottom:20px;
    display: inline-block!important;
    -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.22);
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.22);
    padding: 5px;
    border-radius: 5px;
    z-index:100
}

/*#new-remisser-div:hover {
    background-color: #e8eff3;
    -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.22);
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.22);
    cursor:pointer;
}

#new-remisser-div:active {
    background-color: #e8eff3;
    -webkit-box-shadow: inset 0px 2px 5px 1px rgba(0,0,0,0.22);
    -moz-box-shadow: inset 0px 2px 5px 1px rgba(0,0,0,0.22);
    box-shadow: inset 0px 2px 5px 1px rgba(0,0,0,0.22);
    cursor:pointer;
}*/


#iframe-div {
    position: relative;
    padding-bottom: 56.25%;  proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) 
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    height:2400px;
    width: 100%;
}
/*#iframe-div iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 4000px;
}*/

.row
{
    padding-left:15px;
    margin-top:2px;

}
.booking-select {
    float:right;
    border: 1px solid #AAA;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
    
}

.hide-panel-button {
    border:none!important;
}

#schema-tidsbokning {
    cursor:pointer;
}

.info-hovering::before {
    margin-left:50%;
}
.hide-panel-button:hover {
    background-color:#00579a!important;
     border:none!important;
     color:white!important;
}

.prep-input {
    margin: 2px 2px 2px 2px;
}

.booking-add-button {
    float:right;
    margin-bottom: 0.5em;
}

.prep-input-text {
    border: 1px solid #849cae;
    border-radius: 5px;
}
.prep-input-number {
    border: 1px solid #849cae;
    border-radius: 5px;
    width:40px;
}

.prep-input-radio {

}
.prep-input-commentary {
    width:200px;
    height:30px;
}

#booking-button {
    margin-bottom: 2em;
}

.booking-content{
    margin-top:1em;
}

#overview-booking {
    max-width:inherit;
    background-color: #eef3f5;
    overflow:auto;
}

.overview-booking-title {
    font-weight:600;
}
.overview-booking-content {
    margin-left:1em;
}

.panel .prep-title {
    max-width:400px;
    margin-left:1em;
}
.panel .prep-title h3{
    display: inline-block;
}
.panel .prep-title button {
    margin-top: 20px;
    margin-bottom: 10px;
    float:right;
}




.animated { 
    background-repeat: no-repeat;
    background-position: left top; 
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
}
         
@-webkit-keyframes swing { 
    20%, 40%, 60%, 80%, 100% { -webkit-transform-origin: center; } 
    20% { -webkit-transform: rotate(10deg); } 
    40% { -webkit-transform: rotate(-5deg); } 
    60% { -webkit-transform: rotate(5deg); } 
    80% { -webkit-transform: rotate(-5deg); } 
    100% { -webkit-transform: rotate(0deg); } 
}
         
@keyframes swing { 
    20% { transform: rotate(10deg); } 
    40% { transform: rotate(-5deg); } 
    60% { transform: rotate(5deg); } 
    80% { transform: rotate(-5deg); } 
    100% { transform: rotate(0deg); } 
}
         
.swing { 
    -webkit-transform-origin: center; 
    transform-origin: top center; 
    -webkit-animation-name: swing; 
    animation-name: swing; 
}



.activeRow {
    color:red!important;
}


.information-box {
    background-color:#FFFFFF!important; 
    -webkit-box-shadow: inset 0px -3px 10px 0px rgba(23,40,82,0.25); 
    -moz-box-shadow: inset 0px -3px 10px 0px rgba(23,40,82,0.25);
    box-shadow: inset 0px -3px 10px 0px rgba(23,40,82,0.25);

}
.information-box:hover {
    cursor:default;
}


.row {
    width:100%;
}

.modal-header {
    background: rgb(60, 141, 188);
    height:50px;
    color:white;
}

/*.date_for_meet::before {
    content: "";
}*/

.date_for_meet {
    margin-left:10px;
    margin-right:10px;
    float:right;
    color: #849cae;
}

.date_for_meet a {
    color: #0066b3;
}

.RO_TriageTime
{
    text-align: center; 
    width: 65px !important; 
    background-color: #000; 
    color: #fff; 
    font-weight: bold; 
}

.RO_TriageTimeTh1
{
    width:10px
}

RO_TriageTimeTh2
{
    width:90px
}

RO_TriageTimeTh3
{
    width:90px
}


.RO_TriageTimeTd2
{
    width:100px
}


.foo {
  position: relative;
  float: left;
  top:10px;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}


.booking-table th {
    text-align: left;
    background-color: #dee6eb;
    color: #000000;
    padding:1px!important;
}

.booking-table td {
    color:#000000;
    text-align: left;
    padding:1px!important;
}

/*.show-things-buttons {
    float:right;
}*/


.wine {
  background: #ae163e;
}

.green {
  background: green;
}

.orange {
  background: orange;
}

.red {
  background: red;
}

.progress {
    background-color:#d7dce0;
}

.progress-bar {
    color:white;
    background-color:#61cb91;
}

.yellow {
  background: yellow;
}
.panel label {
    margin-bottom:2px;
    margin-top: 2px;
    margin-left: 2px;
    font-size:15px;
}
.user-panel .info p {
    font-weight:400;
    font-size:small;
}
.user-panel .info #username{
    font-weight:800;
    font-size:small;
}

/*sidemenu*/
.sidebar-menu > li > a.sub-li {
  padding: 12px 5px 12px 45px;
  display: block;
}
.user-panel {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 10px;
  overflow: hidden;
}

.prep-content {
    max-width:600px;
    margin-left:1em;
}

.cell {
    margin-bottom: 0.5em;
}
.cell-planning  {
    
}

.divider {
    border-color: #dcdcdc;
}
.alertify-logs {
    margin-top:100px;
    margin-right:2%;
}
.ehr-container-bar {
    display:none;
}
.ehr-label-content {
    float:left;
}

hr {
    margin-bottom:10px;
    margin-top:10px;
}

.ui-state-busy {
    background-color:red;
    color:white;
}

.ui-state-free {
    background-color:green;
    color:white;
}

/*Calender css overrides*/
/*        ****        */

.monthly-past-day {
    background:#f26a6a
}
.monthly-past-day:hover {
    cursor:not-allowed!important;
	background: #f26a6a!important;
}
.monthly-day:hover {
    cursor:pointer;
	background: #bfe1bf;
}

/*        ****        */


/*Alertify overrides*/
.alertify-logs > *.success {
    color:#272b27!important;
    background: #eef3f5!important; 
}