 .hoverDiv {
}

.hoverDiv:hover {
    background: red;
    color: #000000;
}

/*.hoverDiv:active {
    background: #6794dd;
    color: #ffffff;
}*/

/*#columnNames {
margin-top: 50px;
}*/

/*#left-top-row-content {
    float: left;
    display: inline;
    width: 49%;
}

#right-top-row-content {
    float: left;
    display: inline;
    width: 49%;
}*/


#boxelement {
    float: left;
    display: inline;
    width: 33%;
    text-align: left;
}

.table {
    margin-bottom: 0px;
}

th {
    text-align: left;
    background-color: #0066b3;
    color: #ffffff;
}

tbody tr {
    background-color: #dce8f1;
    color: #000000;
    cursor:pointer;
}
            

table td {
    text-align: left;
}

.btn-circle {
    background-color: #0066b3;
}

.btn-outline {
    margin-left:10px;
    margin-right:10px;
    float:right;
    border-color: #EFEFEF;
}
.btn-outline:hover{
    border-color: #EFEFEF;
}
.btn-outline:focus{
    color: #FFFFFF;
}
.btn-outline:active {
    color: #FFFFFF;
}


.row.panel.cell {
    background-color:red;
}


.box-body {
    color: #000000;
    background-color: #ffffff;
}

/*#box-header {
    padding: 2px 2px 2px 2px;
    min-height: 0px;
    text-align: left;
    background-color: #0066b3;
    color: #ffffff;
    font-weight: bold;
}*/


.panel.cell {
    background-color: #EFEFEF;
    padding: 5px 1px 1px 1px;

}
.col-xs-6.cell {
    padding: 0.2% 0.2% 0.2% 0.2% 
}

.padding-div {
    margin-right: 2%;
    margin-left: 2%;
}

.panel {
    margin-bottom:0px;
    padding-bottom:4px;
    padding-left:4px;
    padding-top: 5px;
}
/*.panel h4{
    padding-left: 1%;
    padding-top: 1%;
    margin-bottom:5px;
    font-weight: bold;
}*/

.fa-exclamation-triangle {
    background-color:yellow;
    color:yellow;
    border: solid #828282 1px;
    margin-right:5px;
}

.content-label {
    font-weight:500;
    color: #606060;
}

.panel span{
    /*padding-left: 1%;
    padding-top: 1%;*/
}

.panel p {
    margin-bottom:1%;
    margin-top: 1%;
    margin-left: 1%;
    font-size:13px;
}
.panel p b{
    font-size:15px;
}

.box  {
    padding:  2% 2% 5% 2%;
}

/*.sub-panel p {
    padding-left: 3%;
}*/

.sub-panel {
    padding-left: 3%;
}

.box-header {
    background-color:  #0066b3;
    color: #ffffff;
    font-weight: bold;
}
.box-header.box-header-sub  {
    padding: 0px 0px 0px 0px;
    background-color:  #d2d6de;
    color: #000000;
    font-weight: bold;
}

.box-header.box-header-sub p {
    margin-top: 2%;
    margin-left: 4%;
}


.instructionBox {
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    margin-top: 50px;
}

h4 {
    margin-right: 60%;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #467fae;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.confirm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-width: 280px;
  max-width: 500px;
  height: auto;
  background: #E2E2E2;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  border-top: 1px solid white;
  animation: fade 1s ease 1 forwards;
}
.confirm h1 {
  text-align: center;
  font-size: 1.2rem;
  margin: 1.5rem 1rem 0.5rem;
}
.confirm p {
  text-align: center;
  font-size: 1rem;
  margin: 0 2rem 4.5rem;
}
.confirm button {
  background: transparent;
  border: none;
  color: #1678E5;
  height: 3rem;
  font-size: 1rem;
  width: 50%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.confirm button:nth-of-type(1) {
  border-top: 1px solid #B4B4B4;
  border-right: 1px solid #B4B4B4;
  left: 0;
  border-radius: 0 0 0 10px;
}
.confirm button:nth-of-type(2) {
  border-top: 1px solid #B4B4B4;
  right: 0;
  border-radius: 0 0 10px 0;
}
.confirm button:focus,
.confirm button:hover {
  font-weight: bold;
  background: #EFEFEF;
}
.confirm button:active {
  background: #D6D6D6;
}